body {
    background-color: #FFF8DC;
}

main {
    border: 1px solid red;
    margin: auto;
    width: 60%;
}

nav {
    height: 150px;
    border: 1px solid red;
}

nav img {
  float: left;
}

* {
    margin-top: 0;
    padding-top: 0;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
    border: none;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 700px;
  height: 40px;
  border: 1px solid blue;
  margin-top: 100px;
  position: absolute;
  margin-left: 20%;
}

nav li {
    display: inline;
    float: left;
    padding-right: 20px;
    padding-top: 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: lowercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7bc143;
    text-align: center;
}

[class*="col-"] {
    float: left;
}

/*Responsive Styles*/


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
