@media screen and (max-width: 750px) {

	#pagewrap {
		width: 95%;
	}

  nav {
		width: auto;
  }

  #mainNav {
		display: none;
	}

	/* Style The Dropdown Button */
.dropbtn {
    background-color: #FFF3C3	;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 16px;
		border: none;
		border-left: 1px solid #576979;
    cursor: pointer;
		line-height: 68px;
		width: 100px;
		margin-right: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
		float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF3C3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav ul {
		width: 100%;
}
}
