@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Real Gourmet Burger</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/media-queries.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/logo.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

            <nav>
                <a href="/"><img src="@routes.Assets.versioned("images/realSmall.png")"></a>
                    <ul id="mainNav">
                        <li><a href="@routes.HomeController.index()">Home</a></li>
                        <li><a href="@routes.HomeController.menu()">Menu</a></li>
                        <li><a href="@routes.HomeController.reservations()">Reservations</a></li>
                        <li><a href="@routes.HomeController.aboutus()">About Us</a></li>
                    </ul>
                <ul class="col-2">
                    <li @if(title == "Login"){class="active"}>
                    @if(user != null){
                        <a href="@routes.LoginController.logout()">Logout @user.getName()</a>
                    } else {
                        <a href="@routes.LoginController.login()">Login</a>
                    }
                    </li>
                    <li><a href="@routes.HomeController.register()">Register</a></li>
                </ul>

                    <div class="dropdown">
                      <button class="dropbtn">Menu</button>
                      <div class="dropdown-content">
                        <ul id="480Nav">
                            <li><a href="@routes.HomeController.index()">Home</a></li>
                            <li><a href="@routes.HomeController.menu()">Menu</a></li>
                            <li><a href="@routes.HomeController.reservations()">Reservations</a></li>
                            <li><a href="@routes.HomeController.aboutus()">About Us</a></li>
                        </ul>
                          <ul class="col-2">
                              <li @if(title == "Login"){class="active"}>
                              @if(user != null){
                                  <a href="@routes.LoginController.logout()">Logout @user.getName()</a>
                              } else {
                                  <a href="@routes.LoginController.login()">Login</a>
                              }
                              </li>
                              <li><a href="@routes.HomeController.register()">Register</a></li>
                          </ul>
                    </div>
</div>
            </nav>
            <div id="pageWrap">
            <main>
            @* And here's where we render the `Html` object containing
             * the page content. *@
            @content
            </main>
            <footer>
              <div class="wrapper">
                  <div class="col-4"></div>
                  <div class="col-4"></div>
                  <div class="col-4"></div>
              </div>
            </footer>
      </div>
    </body>
</html>
